<div class="row edit-row" *ngIf="showForm" [class.drawer]="showForm">

    <div class="input-field col s3">
        <i class="material-icons prefix">badge</i>
        <input type="text" ngModel required placeholder="Nazwa" [(ngModel)]="functionality.Name" />
    </div>
    <div class="input-field col s7">
        <i class="material-icons prefix">description</i>
        <input type="text" placeholder="Opis" [(ngModel)]="functionality.Description" />
    </div>
    <div class="input-field col s2">
        <i class="material-icons prefix">priority_high</i>
        <input type="number" min="1" max="10" [(ngModel)]="functionality.Priority" />
    </div>

    <ng-container [ngSwitch]="editMode">
        <div *ngSwitchCase="false" class="input-field col s2" (click)="addFunctionality()">
            <button class="btn red lighten-2 btn-icon-text" [disabled]="functionality.Name === ''">
                <i class="material-icons">
                    add
                </i>
                <span>&nbsp;Dodaj</span>
            </button>
        </div>
        <div *ngSwitchCase="true" class="input-field col s2" (click)="onSaveFunctionality()">
            <button class="btn red lighten-2 btn-icon-text" [disabled]="functionality.Name === ''">
                <i class="material-icons">
                    edit
                </i>
                <span>&nbsp;Zapisz</span>
            </button>
        </div>
    </ng-container>

</div>