.done {
  color: silver;
  text-decoration: line-through;
}

.dontDone {
  text-decoration: none;
}

.ml-5 {
  margin-left: 5px;
}

.btn-icon-text {
  display: flex;
  align-items: center;
  justify-content: left;
}

.btn-icon-text2 {
  align-items: center;
  justify-content: left;
}

.mt-5 {
  margin-top: 5px;
}

.bigger-name {
  font-size: large;
}

.seven-days-left {
  color: #a6ae37;
}

.three-days-left {
  color: #d65a5a;
}

.end-of-time {
  color: red;
}
