<div [ngClass]="{'done': isDone()}">
    <span class="bigger-name">
        <b>Nazwa: </b>{{ task.Name }}
    </span> <br />
    <b>Data dodania: </b>{{ task.AddDate | date: 'dd/MM/yyyy HH:mm'}} <br />
    <b>Priorytet: </b>{{ task.Priority }} <br />
    <ng-container [ngSwitch]=task.Status>
        <ng-container *ngSwitchCase="taskStatus.ToDo">
            <span class="btn-icon-text">
                <b>Status: </b>Do zrobienia
                <i class="material-icons">
                    battery_0_bar
                </i>
                <br />
            </span>
            <b>Opis: </b>{{ task.Description }} <br />
        </ng-container>
        <ng-container *ngSwitchCase="taskStatus.Doing">
            <span class="btn-icon-text">
                <b>Status: </b>W trakcie
                <i class="material-icons">
                    battery_4_bar
                </i>
                <br />
            </span>
            <b>Opis: </b>{{ task.Description }} <br />
        </ng-container>

        <ng-container *ngSwitchCase="taskStatus.Done">
            <span class="btn-icon-text2" style="text-decoration:none;position: relative;top: -9px;">
                <div style="margin: 0;width: fit-content;display: inline-block;text-decoration: line-through;">
                    <b>Status:
                    </b>Zrobione
                </div>
                <i class="material-icons dontDone"
                    style="display:inline-block;margin: 0;width: fit-content;position: relative;top:6px">
                    battery_full
                </i>
                <br />
            </span>
            <div style="position: relative;top: -9px;">
                <b>Opis: </b>{{ task.Description }} <br />
            </div>
        </ng-container>
    </ng-container>
    <br />
    <ng-container [ngSwitch]=task.Status>
        <span *ngSwitchCase="taskStatus.Done">
            <b>Oczekiwana data: </b><u>{{ task.ExpectedDate | date: 'dd/MM/yyyy HH:mm'}}</u> <br />
        </span>
        <ng-container *ngSwitchDefault>
            <span *ngIf="task.DaysLeft > 7">
                <b>Oczekiwana data: </b><u>{{ task.ExpectedDate | date: 'dd/MM/yyyy HH:mm'}}</u> <br />
            </span>
            <span *ngIf="task.DaysLeft <= 7 && task.DaysLeft > 3" class="seven-days-left">
                <b>Oczekiwana data: </b><u>{{ task.ExpectedDate | date: 'dd/MM/yyyy HH:mm'}}</u> <br />
            </span>
            <span *ngIf="task.DaysLeft <= 3 && task.DaysLeft > 0" class="three-days-left">
                <b>Oczekiwana data: </b><u>{{ task.ExpectedDate | date: 'dd/MM/yyyy HH:mm'}}</u> <br />
            </span>
            <span *ngIf="task.DaysLeft <= 0" class="end-of-time">
                <b>Oczekiwana data: </b><u>{{ task.ExpectedDate | date: 'dd/MM/yyyy HH:mm'}}</u> <br />
            </span>
        </ng-container>
    </ng-container>

    <ng-container *ngIf="isDoing()">
        <b>Data rozpoczęcia: </b>{{ task.StartDate | date: 'dd/MM/yyyy HH:mm'}} <br />
    </ng-container>

    <ng-container *ngIf="isDone()">
        <b>Data zakończenia: </b>{{ task.EndDate | date: 'dd/MM/yyyy HH:mm'}} <br />
    </ng-container>
</div>